
<div class="header-wrapper">
    <header class="site-header">
        <h1 class="site-logo"><span class="fa-map-signs fa"></span> Placebook</h1>
        <form class="header-search">
            <input type="text" placeholder="Search&hellip;" name="search">
            <button type="submit"><span class="fa fa-search"></span></button>
        </form>
        <div class="header-links">
            <a href="/account/login" class="button">Login</a>
            <a href="/account/register" class="button">Register</a>
        </div>
    </header>
</div>

