
<header class="site-header">
    <div class="container">
        <h1 class="site-logo"><a href="/"><span class="fa-map-signs fa"></span> Placebook</a></h1>
        <form class="header-search" method="get" action="/location/search">
            <input type="text" placeholder="Search&hellip;" name="search" value="{% if query %}{{ query }}{% end if %}"><button type="submit"><span class="fa fa-search"></span></button>
        </form>
        <nav class="header-links">
            {% if logged_in %}
                <a href="/location/create"><span class="fa fa-plus-circle"></span>&nbsp;Create Location</a>
                <a href="/account/logout"><span class="fa fa-sign-out"></span>&nbsp;Logout</a>
            {% else %}
               <a href="/account/login"><span class="fa fa-sign-in"></span>&nbsp;Login</a>
               <a href="/account/signup"><span class="fa fa-user-plus"></span>&nbsp;Sign Up</a>
            {% end if %}
        </nav>
    </div>
</header>

