main {
    text-align: center;
}

.location-form fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 350px;
    border: 1px solid #eee;
    padding: 15px 30px;
    alignment: center;
}

.location-form input {
    padding: 15px;
    margin: 20px 0;
    width: 100%;
}

.location-form legend {
    font-weight: bold;
	font-size: 1.8rem;
}

.location-form label {
    display: none;
}
