
body {
    margin-bottom: 0;
}

main {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.hero {
    width: 100%;
    animation: deblur 5s;
}

@keyframes deblur {
	from {
		-webkit-filter: blur(5px);
	}

	to {
		-webkit-filter: blur(0);
	}
}

.site-header .container{
    margin-bottom: 0;
}

#jumbotron {
    background: rgba(255, 255, 255, .7);
    border-radius: 30px;
    text-align: center;
    width: 50%;
    height: 35%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-size: 1.4rem;
    padding: 10px 30px;
}

@media screen and (max-width: 1164px) {
    #jumbotron {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 945px) {
    #jumbotron {
        font-size: 0.9rem;
    }
}

 @media screen and (max-width: 818px) {
    #jumbotron {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 885px) {
    #jumbotron {
        font-size: 0.7rem;
    }
}

.site-footer {
    padding-top: 0;
}
