@import 'normalize.css';
@import '_elements.css';

*, *::before, *::after {
	box-sizing: border-box;
}

.site-logo {
	font-size: 45px;
	color: #fff;
	display: inline-block;
	font-family: Overlock, cursive;
}

.container, main {
	max-width: 1200px;
	margin: 0 auto;
}

main img {
	max-width: 100%;
}

.site-header, .site-footer {
	background-color: #009f6a;
}

.site-footer p:last-of-type {
	margin-bottom: 0;
}

.site-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin-bottom: 20px;
}

.header-search input[type=text] {
	width: 400px;
	border-radius: 6px 0 0 6px;
	height: 50px;
	padding: 15px;
 	border: 1px solid #ddd;
}

.header-search input,
.header-search button,
.site-header a {
	display: inline-block;
}

.header-search button[type=submit] {
	height: 50px;
	width: 50px;
	border-radius: 0 6px 6px 0;
}

.header-links a {
	font-family: Overlock, sans-serif;
	font-size: 1.4rem;
	padding-left: 1em;
}

.header-links a:hover {
	color: #004f35;
}

.site-header a {
	color: #fff;
}

.site-footer {
	padding-top: 30px;
	text-align: center;
	color: #fff;
	font-size: small;
	letter-spacing: 1px;
	padding-bottom: 2em;
	position: fixed;
	bottom: 0;
	width: 100%;
}

@media screen and (max-width: 900px) {

	.site-header .container {
		flex-flow: column;
	}

	.site-logo {
		margin-bottom: 0;
	}

	.site-header .container {
		padding-bottom: 30px;
	}

}
