
main h1{
    text-align: center ;
    margin-bottom: 30px;
}

.result {
    display:flex;
}

.result img {
    max-height: 250px;
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
    margin-bottom:10px;
    margin-right: 20px;
    float: left;
}

.result div{
    float:right;
    margin:5px;

}

.searchresults {
    margin:auto;
    width: 75%;
}


#img > img {
    width: 100%;
    overflow: hidden;
    height: 200px;
}