<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Account</title>
        {% include partials/head_meta.html %}
        <link href="/static/css/searchresult.css" rel="stylesheet">
        <style>
            .user-details {
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>

        {% include partials/header.html %}

        <main>
            
            <div class="user-details">

                <h1>Bobby Tables</h1>
                <h3>{{ user.username }}</h3>
                <p>email: {{ user.email }}</p>

            </div>

            <h1>Uploaded Locations</h1>

            <div class="searchresults">
                {% for result in results %}
                <div class = "result">
                    <div id="img">
                        <a href="/location/{{ result.id }}"><img src = "/static/place-images/{{result.picture}}"></a>
                    </div>
                    <div>
                        <a href="/location/{{ result.id }}"><h3> {{result.name}}</h3></a>
                        {{result.description}}
                    </div>
                </div>
                {% end for %}
            </div>

        </main>

        {% include partials/footer.html %}

    </body>
</html>
