<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create a new location</title>
    {% include partials/head_meta.html %}
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>

{% include partials/header.html %}

<main>

    <h1>Create New Location</h1>


    <form enctype="multipart/form-data" action="/location/create" class="login-form" method="post">
        {% if error %}
            <p class="error">
                {{ error }}
            </p>
        {% end if %}
        <input type="text" placeholder="Name" name="name" required>
        <!-- <input type="text" placeholder="Description" name="description"> -->
        <textarea cols="25" rows="7" placeholder="Description" name="description" required></textarea>
        <input type="file" placeholder="Picture" name="picture" accept = "image/*" required>
        <input type="text" placeholder="Address" name="address" required>

        <!-- will be replaced with map -->
        <input type="text" placeholder="Latitude" name="lat" required>
        <input type="text" placeholder="Longitude" name="long" required>

        <input type="submit" value="Add Location">
    </form>

</main>

{% include partials/footer.html %}

</body>
</html>
