<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Placebook</title>
    <link href='https://fonts.googleapis.com/css?family=Duru+Sans|Overlock:400,700,400italic,700italic,900,900italic' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>

<div class="header-wrapper">
    <header class="site-header">
        <h1 class="site-logo"><span class="fa-map-signs fa"></span> Placebook</h1>
        <form>
            <input type="text" placeholder="Search&hellip;" name="search" class="header-search">
            <button type="submit"><span class="fa fa-search"></span></button>
        </form>
        <div class="header-links">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </header>
</div>

<main>
