<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Location</title>
    {% include partials/head_meta.html %}
    <link href="/static/css/location.css" rel="stylesheet">
    <link href="/styleguide/css/styleguide.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</head>
<body>

{% include partials/header.html %}

<main>
        <div id="imgaddress">
            <div id="img">
                <img src="/static/place-images/{{ location.picture }}">
            </div>
            <h2>{{ location.name }}</h2>
            <div id="star">
                {% for i in range(5) %}
                    {% if i >= int(round(location.score)) %}
                        <div id="goldstar" class="{{i}}">&#9733;</div>
                    {% else %}
                        <div id="blackstar" class="{{i}}">&#9733;</div>
                    {% end if %}
                {% end for %}
            </div>
            <div id="clear"></div>
            <p>{{ location.address }}</p>
        </div>
        <div id="map"></div>
    <div id="clear"></div>
        <!-- <div id="map"> </div> -->
    <div id="desc">
        <h3>Description</h3>
        <p>{{ location.description }} </p>
    </div>

</main>

{% include partials/footer.html %}

</body>
<script>
        var map = L.map('map').setView([{{ location.latitude }}, {{ location.longitude }}], 13);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map)
            .bindPopup('{{ location.name }}')
            .openPopup();
    </script>
</html>
