<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login to Placebook</title>
    {% include partials/head_meta.html %}
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>

{% include partials/header.html %}

<main>

    <h1>Login</h1>

    <form action="/account/login" class="login-form" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Login">
    </form>

</main>

{% include partials/footer.html %}

</body>
</html>
